* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  background-color: bisque;
}

.main-container {
  margin: 0;
  padding: 0;
  width: 90%;
  height: 100vh;
  background-color: coral;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.transaction-wrap {
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.transaction {
  width: 90%;
  height: 70px;
  background-color: white;
  margin: 20px 0;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 0.7rem;
  text-align: center;
}

.te-wrap {
  margin: 0 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.date {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 0.7rem;
  color: salmon;
}

.product {
  font-size: 1rem;
  margin: 3px;
  font-weight: bold;
}

.store {
  font-style: italic;
}

.amount {
  font-size: 1rem;
  color: coral;
  font-size: 1.3rem;
  font-weight: bold;
}

.more {
  color: lightcoral;
}

.t-info {
  width: 80%;
  background-color: rgba(255, 255, 255, 1);
  margin: -15px 0 10px 0;
  padding: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.comment {
  font-size: 0.7rem;
  font-style: italic;
  color: rgba(0, 0, 0, 0.7);
  margin-left: 10px;
}

.opt {
  background-color: coral;
  color: white;
  padding: 10px;
  margin: 2px;
  border-radius: 10px;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 2px 2px rgba(0, 0, 0, 0.2);
  font-weight: bold;
}

.edit {
  background-color: orange;
}

.delete {
  background-color: crimson;
}

.plus-wrap {
    position: absolute;
    top: 88%;
    right: 10%;
}

.plus-button {
    width: 70px;
    height: 70px;
    border-radius: 50px;
    background-color: white;
    font-weight: bold;
    color: coral;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
    font-size: 1.5rem;
}
